In [2]:
from modules.module_for_imports import *

In [34]:
#appearance = pd.read_csv('Assignment_Data_2023-2024/appearances.csv')
#appearance

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507346,4172154_659813,4172154,659813,15,15,2023-11-30,Piero Hincapié,EL,0,0,0,0,90
1507347,4172154_696027,4172154,696027,15,15,2023-11-30,Ayman Aourir,EL,0,0,0,0,2
1507348,4172154_7161,4172154,7161,15,15,2023-11-30,Jonas Hofmann,EL,0,0,0,0,10
1507349,4172154_743395,4172154,743395,15,15,2023-11-30,Noah Mbamba,EL,0,0,0,0,45
1507350,4172154_936981,4172154,936981,15,15,2023-11-30,Gustavo Puerta,EL,0,0,0,0,88

In [4]:
games = pd.read_csv('Assignment_Data_2023-2024/games.csv')
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65216 entries, 0 to 65215
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 65216 non-null  int64
 1   competition_id          65216 non-null  object
 2   season                  65216 non-null  int64
 3   round                   65216 non-null  object
 4   date                    65216 non-null  object
 5   home_club_id            65216 non-null  int64
 6   away_club_id            65216 non-null  int64
 7   home_club_goals         65216 non-null  int64
 8   away_club_goals         65216 non-null  int64
 9   home_club_position      45762 non-null  float64
 10  away_club_position      45762 non-null  float64
 11  home_club_manager_name  64474 non-null  object
 12  away_club_manager_name  64474 non-null  object
 13  stadium                 65005 non-null  object
 14  attendance              55704 non-null  float64
 15  referee                 64622 non-null  object
 16  url                     65216 non-null  object
 17  home_club_formation     2869 non-null   object
 18  away_club_formation     2888 non-null   object
 19  home_club_name          53964 non-null  object
 20  away_club_name          55167 non-null  object
 21  aggregate               65216 non-null  object
 22  competition_type        65216 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 11.4+ MB