In [1]:
from modules.module_for_imports import *

In [2]:
appearance = pd.read_csv('Assignment_Data_2023-2024/appearances.csv')
club_games = pd.read_csv('Assignment_Data_2023-2024/club_games.csv')
clubs = pd.read_csv('Assignment_Data_2023-2024/clubs.csv')
competitions = pd.read_csv('Assignment_Data_2023-2024/competitions.csv')
game_events = pd.read_csv('Assignment_Data_2023-2024/game_events.csv')
game_lineups = pd.read_csv('Assignment_Data_2023-2024/game_lineups.csv')
games = pd.read_csv('Assignment_Data_2023-2024/games.csv')
player_valuations = pd.read_csv('Assignment_Data_2023-2024/player_valuations.csv')
players = pd.read_csv('Assignment_Data_2023-2024/players.csv')

In [3]:
appearance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507351 entries, 0 to 1507350
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1507351 non-null  object
 1   game_id                 1507351 non-null  int64
 2   player_id               1507351 non-null  int64
 3   player_club_id          1507351 non-null  int64
 4   player_current_club_id  1507351 non-null  int64
 5   date                    1507351 non-null  object
 6   player_name             1507027 non-null  object
 7   competition_id          1507351 non-null  object
 8   yellow_cards            1507351 non-null  int64
 9   red_cards               1507351 non-null  int64
 10  goals                   1507351 non-null  int64
 11  assists                 1507351 non-null  int64
 12  minutes_played          1507351 non-null  int64
dtypes: int64(9), object(4)
memory usage: 149.5+ MB

In [4]:
club_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           91524 non-null   float64
 4   own_manager_name       128948 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      91524 non-null   float64
 8   opponent_manager_name  128948 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 10.9+ MB

In [5]:
clubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  426 non-null    int64
 1   club_code                426 non-null    object
 2   name                     426 non-null    object
 3   domestic_competition_id  426 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               426 non-null    int64
 6   average_age              388 non-null    float64
 7   foreigners_number        426 non-null    int64
 8   foreigners_percentage    379 non-null    float64
 9   national_team_players    426 non-null    int64
 10  stadium_name             426 non-null    object
 11  stadium_seats            426 non-null    int64
 12  net_transfer_record      426 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              426 non-null    int64
 15  url                      426 non-null    object
dtypes: float64(4), int64(6), object(6)
memory usage: 53.4+ KB

In [6]:
competitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   competition_id        43 non-null     object
 1   competition_code      43 non-null     object
 2   name                  43 non-null     object
 3   sub_type              43 non-null     object
 4   type                  43 non-null     object
 5   country_id            43 non-null     int64
 6   country_name          36 non-null     object
 7   domestic_league_code  36 non-null     object
 8   confederation         43 non-null     object
 9   url                   43 non-null     object
dtypes: int64(1), object(9)
memory usage: 3.5+ KB

In [7]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666558 entries, 0 to 666557
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   game_event_id     666558 non-null  object
 1   date              666558 non-null  object
 2   game_id           666558 non-null  int64
 3   minute            666558 non-null  int64
 4   type              666558 non-null  object
 5   club_id           666558 non-null  int64
 6   player_id         666558 non-null  int64
 7   description       330233 non-null  object
 8   player_in_id      421249 non-null  float64
 9   player_assist_id  30857 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 50.9+ MB

In [8]:
game_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119133 entries, 0 to 119132
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   game_lineups_id  119133 non-null  object
 1   game_id          119133 non-null  int64
 2   club_id          119133 non-null  int64
 3   type             119133 non-null  object
 4   number           119133 non-null  object
 5   player_id        119133 non-null  int64
 6   player_name      119133 non-null  object
 7   team_captain     119133 non-null  int64
 8   position         119133 non-null  object
dtypes: int64(4), object(5)
memory usage: 8.2+ MB

In [9]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65216 entries, 0 to 65215
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 65216 non-null  int64
 1   competition_id          65216 non-null  object
 2   season                  65216 non-null  int64
 3   round                   65216 non-null  object
 4   date                    65216 non-null  object
 5   home_club_id            65216 non-null  int64
 6   away_club_id            65216 non-null  int64
 7   home_club_goals         65216 non-null  int64
 8   away_club_goals         65216 non-null  int64
 9   home_club_position      45762 non-null  float64
 10  away_club_position      45762 non-null  float64
 11  home_club_manager_name  64474 non-null  object
 12  away_club_manager_name  64474 non-null  object
 13  stadium                 65005 non-null  object
 14  attendance              55704 non-null  float64
 15  referee                 64622 non-null  object
 16  url                     65216 non-null  object
 17  home_club_formation     2869 non-null   object
 18  away_club_formation     2888 non-null   object
 19  home_club_name          53964 non-null  object
 20  away_club_name          55167 non-null  object
 21  aggregate               65216 non-null  object
 22  competition_type        65216 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 11.4+ MB

In [10]:
player_valuations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440663 entries, 0 to 440662
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            440663 non-null  int64
 1   last_season                          440663 non-null  int64
 2   datetime                             440663 non-null  object
 3   date                                 440663 non-null  object
 4   dateweek                             440663 non-null  object
 5   market_value_in_eur                  440663 non-null  int64
 6   n                                    440663 non-null  int64
 7   current_club_id                      440663 non-null  int64
 8   player_club_domestic_competition_id  440663 non-null  object
dtypes: int64(5), object(4)
memory usage: 30.3+ MB

In [11]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            28337 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      27613 non-null  object
 8   city_of_birth                         28099 non-null  object
 9   country_of_citizenship                29759 non-null  object
 10  date_of_birth                         30255 non-null  object
 11  sub_position                          30130 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  27913 non-null  object
 14  height_in_cm                          28204 non-null  float64
 15  market_value_in_eur                   19383 non-null  float64
 16  highest_market_value_in_eur           28981 non-null  float64
 17  contract_expiration_date              18835 non-null  object
 18  agent_name                            14941 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 5.3+ MB