In [ ]:
from modules.module_for_imports import *

In [ ]:
# appearance dataset
appearance = get_appearance("./")
appearance.info()

In [ ]:
# club_games dataset
appearance = None
club_games = get_club_games("./")
club_games.info()

In [ ]:
# clubs dataset
club_games = None
clubs = get_clubs("./")
clubs.info()

In [ ]:
# competitions dataset
clubs = None
competitions = get_competitions("./")
competitions.info()

In [21]:
# game_events dataset
competitions = None
game_events = get_game_events("./")
game_events

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN
...,...,...,...,...,...,...,...,...,...,...
666553,7f5a6b61ca858e0cd63a58c554b56bb7,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical",965607.0,NaN
666554,5b93d1bc9e8bf42965682d491e1dd6c7,2023-11-15,4228114,44,Goals,46889,922572,", Penalty, 1. Tournament Goal",NaN,NaN
666555,d638b1e72f531c413487d413258a3130,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical",1200869.0,NaN
666556,0ff7774aa1383af83e40c435325463af,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical",921121.0,NaN
666557,c2ba59ead8ee0f17e74e49c506e0d92f,2023-11-15,4228114,85,Goals,358,1203715,", Right-footed shot, 1. Tournament Goal",NaN,NaN

In [ ]:
# game_lineups dataset
game_events = None
game_lineups = get_game_lineups("./")
game_lineups.info()

In [ ]:
# games dataset
game_lineups = None
games = get_games("./")
games.info()

In [ ]:
# player_valuation dataset
games = None
player_valuations = get_player_valuations("./")
player_valuations.info()

In [ ]:
# players dataset
player_valuations = None
players = get_players("./")
players.info()

In [ ]:
players = None