In [9]:
from modules.module_for_imports import *

# Appearance analysis <a class="anchor" id="appearance-analysis"></a>

In [10]:
appearance = pd.read_csv('../Assignment_Data_2023-2024/appearances.csv')#, index_col=[0])
appearance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507351 entries, 0 to 1507350
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1507351 non-null  object
 1   game_id                 1507351 non-null  int64
 2   player_id               1507351 non-null  int64
 3   player_club_id          1507351 non-null  int64
 4   player_current_club_id  1507351 non-null  int64
 5   date                    1507351 non-null  object
 6   player_name             1507027 non-null  object
 7   competition_id          1507351 non-null  object
 8   yellow_cards            1507351 non-null  int64
 9   red_cards               1507351 non-null  int64
 10  goals                   1507351 non-null  int64
 11  assists                 1507351 non-null  int64
 12  minutes_played          1507351 non-null  int64
dtypes: int64(9), object(4)
memory usage: 149.5+ MB

In [11]:
appearance['date'] = pd.to_datetime(appearance['date'])
appearance['competition_id'] = appearance['competition_id'].astype('string')
appearance.dtypes

appearance_id                     object
game_id                            int64
player_id                          int64
player_club_id                     int64
player_current_club_id             int64
date                      datetime64[ns]
player_name                       object
competition_id            string[python]
yellow_cards                       int64
red_cards                          int64
goals                              int64
assists                            int64
minutes_played                     int64
dtype: object

In [12]:
appearance.isna().sum()

appearance_id               0
game_id                     0
player_id                   0
player_club_id              0
player_current_club_id      0
date                        0
player_name               324
competition_id              0
yellow_cards                0
red_cards                   0
goals                       0
assists                     0
minutes_played              0
dtype: int64

> # Trying to see if 'player_name's that are 'None' are present as 'players_id' in other rows

In [13]:
# this will make me see all the rows with na values
na_player_name_apps = appearance.loc[appearance['player_name'].isna()]['player_id']
not_na_player_name_apps = appearance.loc[appearance['player_name'].notnull()]['player_id']
na_player_name_apps.isin(not_na_player_name_apps).sum()

0

> ### This is the check that we are doing well:

In [14]:
not_na_player_name_apps.isna().sum()

0

> ### Fine, there are not 'player_id's in common, so we cannot restore those data.
> > # Final result: remove None 'player_name' rows

In [15]:
appearance = appearance.dropna()
appearance

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507346,4172154_659813,4172154,659813,15,15,2023-11-30,Piero Hincapié,EL,0,0,0,0,90
1507347,4172154_696027,4172154,696027,15,15,2023-11-30,Ayman Aourir,EL,0,0,0,0,2
1507348,4172154_7161,4172154,7161,15,15,2023-11-30,Jonas Hofmann,EL,0,0,0,0,10
1507349,4172154_743395,4172154,743395,15,15,2023-11-30,Noah Mbamba,EL,0,0,0,0,45
1507350,4172154_936981,4172154,936981,15,15,2023-11-30,Gustavo Puerta,EL,0,0,0,0,88