In [4]:
from module_for_imports import *

# Players analysis <a class="anchor" id="players-analysis"></a>

In [5]:
players = pd.read_csv('../Assignment_Data_2023-2024/players.csv')   
# note:
#the index_col=[0] avoids indexing the dataframe, so we save space and use the ids as index
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30302 entries, 598 to 925584
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   first_name                            28337 non-null  object
 1   last_name                             30302 non-null  object
 2   name                                  30302 non-null  object
 3   last_season                           30302 non-null  int64
 4   current_club_id                       30302 non-null  int64
 5   player_code                           30302 non-null  object
 6   country_of_birth                      27613 non-null  object
 7   city_of_birth                         28099 non-null  object
 8   country_of_citizenship                29759 non-null  object
 9   date_of_birth                         30255 non-null  object
 10  sub_position                          30130 non-null  object
 11  position                              30302 non-null  object
 12  foot                                  27913 non-null  object
 13  height_in_cm                          28204 non-null  float64
 14  market_value_in_eur                   19383 non-null  float64
 15  highest_market_value_in_eur           28981 non-null  float64
 16  contract_expiration_date              18835 non-null  object
 17  agent_name                            14941 non-null  object
 18  image_url                             30302 non-null  object
 19  url                                   30302 non-null  object
 20  current_club_domestic_competition_id  30302 non-null  object
 21  current_club_name                     30302 non-null  object
dtypes: float64(3), int64(2), object(17)
memory usage: 5.3+ MB

In [6]:
players

,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
player_id,,,,,,,,,,,,,,,,,,,,,
598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,1979-04-05,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,1979-01-15,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,1982-09-06,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,1983-01-15,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,1979-03-02,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371851,Jaka,Bijol,Jaka Bijol,2023,410,jaka-bijol,Slovenia,Vuzenica,Slovenia,1999-02-05,...,right,190.0,10000000.0,10000000.0,2027-06-30 00:00:00,MSC GROUP,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jaka-bijol/pro...,IT1,Udinese Calcio
537171,Semuel,Pizzignacco,Semuel Pizzignacco,2018,410,semuel-pizzignacco,Italy,Monfalcone,Italy,2001-09-01,...,right,188.0,325000.0,350000.0,2025-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/semuel-pizzign...,IT1,Udinese Calcio
586756,Festy,Ebosele,Festy Ebosele,2023,410,festy-ebosele,Ireland,"Enniscorthy, Wexford",Ireland,2002-08-02,...,right,180.0,4500000.0,4500000.0,2027-06-30 00:00:00,The Kulture Group,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/festy-ebosele/...,IT1,Udinese Calcio
704692,Nicolò,Cocetta,Nicolò Cocetta,2022,410,nicolo-cocetta,Italy,San Daniele del Friuli,Italy,2003-12-19,...,NaN,NaN,75000.0,75000.0,2023-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/nicolo-cocetta...,IT1,Udinese Calcio
925584,Axel,Guessand,Axel Guessand,2023,410,axel-guessand,France,Schiltigheim,France,2004-11-06,...,left,184.0,250000.0,300000.0,2027-06-30 00:00:00,CAA Stellar,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/axel-guessand/...,IT1,Udinese Calcio

In [7]:
players.isna().sum()

first_name                               1965
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2689
city_of_birth                            2203
country_of_citizenship                    543
date_of_birth                              47
sub_position                              172
position                                    0
foot                                     2389
height_in_cm                             2098
market_value_in_eur                     10919
highest_market_value_in_eur              1321
contract_expiration_date                11467
agent_name                              15361
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
dtype: int64

> ## So now we know that players have many fields left as 'None'

In [8]:
players.loc[players['first_name'].isna()][['first_name','last_name',
                                           'name', 'player_code']]

          first_name  last_name       name player_code
player_id
5974             NaN  Matuzalém  Matuzalém   matuzalem
13952            NaN    Liedson    Liedson     liedson
14137            NaN    Briguel    Briguel     briguel
14282            NaN  Danielson  Danielson   danielson
17292            NaN     Joeano     Joeano      joeano
...              ...        ...        ...         ...
105468           NaN     Neuton     Neuton      neuton
54183            NaN  Maicosuel  Maicosuel   maicosuel
323954           NaN     Walace     Walace      walace
217863           NaN  Guilherme  Guilherme   guilherme
99523            NaN    Nícolas    Nícolas     nicolas

[1965 rows x 4 columns]

In [9]:
players.shape == players.drop_duplicates().shape

True

In [10]:
players['height_in_cm'].value_counts()

height_in_cm
180.0    2051
185.0    1894
183.0    1654
178.0    1654
188.0    1440
182.0    1424
184.0    1412
186.0    1356
187.0    1326
175.0    1317
190.0    1176
181.0    1148
177.0    1013
179.0     988
176.0     941
189.0     808
173.0     744
191.0     724
174.0     718
192.0     591
172.0     567
170.0     539
193.0     528
194.0     332
171.0     329
195.0     261
196.0     223
168.0     205
169.0     199
197.0     128
167.0     101
198.0      95
165.0      69
166.0      63
164.0      32
199.0      31
201.0      23
200.0      23
163.0      20
202.0      15
203.0      10
162.0       8
204.0       6
206.0       4
205.0       4
160.0       3
18.0        2
159.0       2
161.0       2
207.0       1
Name: count, dtype: int64

In [11]:
players['height_in_cm'].isna().sum()

2098

# WE HAVE 2 PLAYERS THAT ARE 18 cm TALL!!

> ## Now we convert some types

In [12]:
players['last_name'] = players['last_name'].astype('string')
players['name'] = players['name'].astype('string')
players['player_code'] = players['player_code'].astype('string')
players['position'] = players['position'].astype('category')
players['current_club_domestic_competition_id'] = players['current_club_domestic_competition_id'].astype('string')
players['current_club_name'] = players['current_club_name'].astype('string')

players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30302 entries, 598 to 925584
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   first_name                            28337 non-null  object
 1   last_name                             30302 non-null  string
 2   name                                  30302 non-null  string
 3   last_season                           30302 non-null  int64
 4   current_club_id                       30302 non-null  int64
 5   player_code                           30302 non-null  string
 6   country_of_birth                      27613 non-null  object
 7   city_of_birth                         28099 non-null  object
 8   country_of_citizenship                29759 non-null  object
 9   date_of_birth                         30255 non-null  object
 10  sub_position                          30130 non-null  object
 11  position                              30302 non-null  category
 12  foot                                  27913 non-null  object
 13  height_in_cm                          28204 non-null  float64
 14  market_value_in_eur                   19383 non-null  float64
 15  highest_market_value_in_eur           28981 non-null  float64
 16  contract_expiration_date              18835 non-null  object
 17  agent_name                            14941 non-null  object
 18  image_url                             30302 non-null  object
 19  url                                   30302 non-null  object
 20  current_club_domestic_competition_id  30302 non-null  string
 21  current_club_name                     30302 non-null  string
dtypes: category(1), float64(3), int64(2), object(11), string(5)
memory usage: 5.1+ MB

In [13]:
# it works as well as na_player_name_apps.isin(players['player_id']).sum()
na_player_name_apps.isin(players).sum()

NameError: name 'na_player_name_apps' is not defined

In [ ]:
players['first_name'] = (players['first_name'].fillna("")
                            .astype('string'))
players.info()