# Types And Na()s
This paper is meant to be used to search for data **types** and see where we have to handle **NaN** and **None** inputs.
# Index
* [x] [Appereance analysis](#appearance-analysis-a-classanchor-idappearance-analysisa)
* [ ] [Players analysis](#players-analysis-a-classanchor-idplayers-analysisa)

In [24]:
from module_for_imports import *

# Appearance analysis <a class="anchor" id="appearance-analysis"></a>

In [25]:
appearance = pd.read_csv('Assignment_Data_2023-2024/appearances.csv', index_col=[0])
appearance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1507351 entries, 2231978_38004 to 4172154_936981
Data columns (total 12 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   game_id                 1507351 non-null  int64
 1   player_id               1507351 non-null  int64
 2   player_club_id          1507351 non-null  int64
 3   player_current_club_id  1507351 non-null  int64
 4   date                    1507351 non-null  object
 5   player_name             1507027 non-null  object
 6   competition_id          1507351 non-null  object
 7   yellow_cards            1507351 non-null  int64
 8   red_cards               1507351 non-null  int64
 9   goals                   1507351 non-null  int64
 10  assists                 1507351 non-null  int64
 11  minutes_played          1507351 non-null  int64
dtypes: int64(9), object(3)
memory usage: 149.5+ MB

In [26]:
# appearance['appearance_id'] = pd.to_numeric(appearance['appearance_id'].astype('string'))
#appearance['appearance_id'] = appearance['appearance_id'].astype('string')
appearance['date'] = pd.to_datetime(appearance['date'])
appearance['competition_id'] = appearance['competition_id'].astype('string')
appearance.dtypes

game_id                            int64
player_id                          int64
player_club_id                     int64
player_current_club_id             int64
date                      datetime64[ns]
player_name                       object
competition_id            string[python]
yellow_cards                       int64
red_cards                          int64
goals                              int64
assists                            int64
minutes_played                     int64
dtype: object

In [27]:
appearance.isna().sum()

game_id                     0
player_id                   0
player_club_id              0
player_current_club_id      0
date                        0
player_name               324
competition_id              0
yellow_cards                0
red_cards                   0
goals                       0
assists                     0
minutes_played              0
dtype: int64

> # Trying to see if 'player_name's that are 'None' are present as 'players_id' in other rows

In [28]:
# this will make me see all the rows with na values
na_player_name_apps = appearance.loc[appearance['player_name'].isna()]['player_id']
not_na_player_name_apps = appearance.loc[appearance['player_name'].notnull()]['player_id']
na_player_name_apps.isin(not_na_player_name_apps).sum()

0

> ### This is the check that we are doing well:

In [29]:
not_na_player_name_apps.isna().sum()

0

> ### Fine, there are not 'player_id's in common, so we cannot restore those data.
> > # Final result: remove None 'player_name' rows

In [30]:
appearance = appearance.dropna()
appearance

,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
appearance_id,,,,,,,,,,,,
2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...
4172154_659813,4172154,659813,15,15,2023-11-30,Piero Hincapié,EL,0,0,0,0,90
4172154_696027,4172154,696027,15,15,2023-11-30,Ayman Aourir,EL,0,0,0,0,2
4172154_7161,4172154,7161,15,15,2023-11-30,Jonas Hofmann,EL,0,0,0,0,10
4172154_743395,4172154,743395,15,15,2023-11-30,Noah Mbamba,EL,0,0,0,0,45
4172154_936981,4172154,936981,15,15,2023-11-30,Gustavo Puerta,EL,0,0,0,0,88

# Players analysis <a class="anchor" id="players-analysis"></a>

In [31]:
players = pd.read_csv('Assignment_Data_2023-2024/players.csv', index_col=[0])   
# note:
#the index_col=[0] avoids indexing the dataframe, so we save space and use the ids as index
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30302 entries, 598 to 925584
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   first_name                            28337 non-null  object
 1   last_name                             30302 non-null  object
 2   name                                  30302 non-null  object
 3   last_season                           30302 non-null  int64
 4   current_club_id                       30302 non-null  int64
 5   player_code                           30302 non-null  object
 6   country_of_birth                      27613 non-null  object
 7   city_of_birth                         28099 non-null  object
 8   country_of_citizenship                29759 non-null  object
 9   date_of_birth                         30255 non-null  object
 10  sub_position                          30130 non-null  object
 11  position                              30302 non-null  object
 12  foot                                  27913 non-null  object
 13  height_in_cm                          28204 non-null  float64
 14  market_value_in_eur                   19383 non-null  float64
 15  highest_market_value_in_eur           28981 non-null  float64
 16  contract_expiration_date              18835 non-null  object
 17  agent_name                            14941 non-null  object
 18  image_url                             30302 non-null  object
 19  url                                   30302 non-null  object
 20  current_club_domestic_competition_id  30302 non-null  object
 21  current_club_name                     30302 non-null  object
dtypes: float64(3), int64(2), object(17)
memory usage: 5.3+ MB

In [32]:
players

,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
player_id,,,,,,,,,,,,,,,,,,,,,
598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,1979-04-05,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,1979-01-15,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,1982-09-06,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,1983-01-15,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,1979-03-02,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371851,Jaka,Bijol,Jaka Bijol,2023,410,jaka-bijol,Slovenia,Vuzenica,Slovenia,1999-02-05,...,right,190.0,10000000.0,10000000.0,2027-06-30 00:00:00,MSC GROUP,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jaka-bijol/pro...,IT1,Udinese Calcio
537171,Semuel,Pizzignacco,Semuel Pizzignacco,2018,410,semuel-pizzignacco,Italy,Monfalcone,Italy,2001-09-01,...,right,188.0,325000.0,350000.0,2025-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/semuel-pizzign...,IT1,Udinese Calcio
586756,Festy,Ebosele,Festy Ebosele,2023,410,festy-ebosele,Ireland,"Enniscorthy, Wexford",Ireland,2002-08-02,...,right,180.0,4500000.0,4500000.0,2027-06-30 00:00:00,The Kulture Group,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/festy-ebosele/...,IT1,Udinese Calcio
704692,Nicolò,Cocetta,Nicolò Cocetta,2022,410,nicolo-cocetta,Italy,San Daniele del Friuli,Italy,2003-12-19,...,NaN,NaN,75000.0,75000.0,2023-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/nicolo-cocetta...,IT1,Udinese Calcio
925584,Axel,Guessand,Axel Guessand,2023,410,axel-guessand,France,Schiltigheim,France,2004-11-06,...,left,184.0,250000.0,300000.0,2027-06-30 00:00:00,CAA Stellar,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/axel-guessand/...,IT1,Udinese Calcio

In [33]:
players.isna().sum()

first_name                               1965
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2689
city_of_birth                            2203
country_of_citizenship                    543
date_of_birth                              47
sub_position                              172
position                                    0
foot                                     2389
height_in_cm                             2098
market_value_in_eur                     10919
highest_market_value_in_eur              1321
contract_expiration_date                11467
agent_name                              15361
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
dtype: int64

> ## So now we know that players have many fields left as 'None'

In [34]:
players.loc[players['first_name'].isna()][['first_name','last_name',
                                           'name', 'player_code']]

          first_name  last_name       name player_code
player_id
5974             NaN  Matuzalém  Matuzalém   matuzalem
13952            NaN    Liedson    Liedson     liedson
14137            NaN    Briguel    Briguel     briguel
14282            NaN  Danielson  Danielson   danielson
17292            NaN     Joeano     Joeano      joeano
...              ...        ...        ...         ...
105468           NaN     Neuton     Neuton      neuton
54183            NaN  Maicosuel  Maicosuel   maicosuel
323954           NaN     Walace     Walace      walace
217863           NaN  Guilherme  Guilherme   guilherme
99523            NaN    Nícolas    Nícolas     nicolas

[1965 rows x 4 columns]

In [35]:
players.shape == players.drop_duplicates('player_id').shape

KeyError: Index(['player_id'], dtype='object')

> ## Now we convert some types

In [ ]:
players['last_name'] = players['last_name'].astype('string')
players['name'] = players['name'].astype('string')
players['player_code'] = players['player_code'].astype('string')
players['position'] = players['position'].astype('category')
players['current_club_domestic_competition_id'] = players['current_club_domestic_competition_id'].astype('string')
players['current_club_name'] = players['current_club_name'].astype('string')

players.info()

In [ ]:
# it works as well as na_player_name_apps.isin(players['player_id']).sum()
na_player_name_apps.isin(players).sum()